/.vs/Mytra/v17/.suo
/.vs/Mytra/DesignTimeBuild/.dtbcache.v2
/.vs/Mytra/FileContentIndex/24028a85-79f9-483e-893d-d1d644342cf0.vsidx
/.vs/Mytra/FileContentIndex/a2830d06-2218-4e46-a526-5fdb94375d3e.vsidx
/.vs/Mytra/FileContentIndex/a4edc9f3-7d54-43db-bb12-923f862514e2.vsidx
/.vs/Mytra/FileContentIndex/d1c60212-57e8-4ed0-8b79-21edc03759d3.vsidx
/.vs/Mytra/FileContentIndex/read.lock
/.vs/ProjectEvaluation/mytra.metadata.v5.2
/.vs/ProjectEvaluation/mytra.projects.v5.2
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.deps.json
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.dll
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.pdb
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.deps.json
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Core/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Core/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.deps.json
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.deps.json
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.dll
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.pdb
/Mytra.Cache/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.AssemblyInfo.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.AssemblyInfoInputs.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.assets.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.AssemblyReference.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.CoreCompileInputs.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.FileListAbsolute.txt
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.dll
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.GlobalUsings.g.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.pdb
/Mytra.Cache/obj/Debug/net6.0/ref/Mytra.Cache.dll
/Mytra.Cache/obj/Debug/net6.0/refint/Mytra.Cache.dll
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.dgspec.json
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.g.props
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.g.targets
/Mytra.Cache/obj/project.assets.json
/Mytra.Cache/obj/project.nuget.cache
/Mytra.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.AssemblyInfo.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.AssemblyInfoInputs.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.assets.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.AssemblyReference.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.CoreCompileInputs.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.FileListAbsolute.txt
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.dll
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.GlobalUsings.g.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.pdb
/Mytra.Common/obj/Debug/net6.0/ref/Mytra.Common.dll
/Mytra.Common/obj/Debug/net6.0/refint/Mytra.Common.dll
/Mytra.Common/obj/Mytra.Common.csproj.nuget.dgspec.json
/Mytra.Common/obj/Mytra.Common.csproj.nuget.g.props
/Mytra.Common/obj/Mytra.Common.csproj.nuget.g.targets
/Mytra.Common/obj/project.assets.json
/Mytra.Common/obj/project.nuget.cache
/Mytra.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.AssemblyInfo.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.AssemblyInfoInputs.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.assets.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.AssemblyReference.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.CopyComplete
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.CoreCompileInputs.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.FileListAbsolute.txt
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.dll
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.GlobalUsings.g.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.pdb
/Mytra.Core/obj/Debug/net6.0/ref/Mytra.Core.dll
/Mytra.Core/obj/Debug/net6.0/refint/Mytra.Core.dll
/Mytra.Core/obj/Mytra.Core.csproj.nuget.dgspec.json
/Mytra.Core/obj/Mytra.Core.csproj.nuget.g.props
/Mytra.Core/obj/Mytra.Core.csproj.nuget.g.targets
/Mytra.Core/obj/project.assets.json
/Mytra.Core/obj/project.nuget.cache
/Mytra.Logging/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.AssemblyInfo.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.AssemblyInfoInputs.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.assets.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.AssemblyReference.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.CoreCompileInputs.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.FileListAbsolute.txt
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.dll
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.GlobalUsings.g.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.pdb
/Mytra.Logging/obj/Debug/net6.0/ref/Mytra.Logging.dll
/Mytra.Logging/obj/Debug/net6.0/refint/Mytra.Logging.dll
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.dgspec.json
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.g.props
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.g.targets
/Mytra.Logging/obj/project.assets.json
/Mytra.Logging/obj/project.nuget.cache
/.vs/Mytra/FileContentIndex/6ba5b4a1-90cc-4ab6-8c88-dd4b88337c42.vsidx
/.vs/Mytra/FileContentIndex/d1302fda-88f6-42db-bffa-e5aac1b637ae.vsidx
/.vs/Mytra/FileContentIndex/f44790fe-51fa-49fb-84d6-7e37f5fef716.vsidx
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.deps.json
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.deps.json
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.runtimeconfig.json
/Mytra.Business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.AssemblyInfo.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.AssemblyInfoInputs.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.assets.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.AssemblyReference.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.CopyComplete
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.CoreCompileInputs.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.FileListAbsolute.txt
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.dll
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.GlobalUsings.g.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.pdb
/Mytra.Business/obj/Debug/net6.0/ref/Mytra.Business.dll
/Mytra.Business/obj/Debug/net6.0/refint/Mytra.Business.dll
/Mytra.Business/obj/Mytra.Business.csproj.nuget.dgspec.json
/Mytra.Business/obj/Mytra.Business.csproj.nuget.g.props
/Mytra.Business/obj/Mytra.Business.csproj.nuget.g.targets
/Mytra.Business/obj/project.assets.json
/Mytra.Business/obj/project.nuget.cache
/Mytra.DataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.AssemblyInfo.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.AssemblyInfoInputs.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.assets.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.AssemblyReference.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.CopyComplete
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.CoreCompileInputs.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.FileListAbsolute.txt
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.genruntimeconfig.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.GlobalUsings.g.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/obj/Debug/net6.0/ref/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Debug/net6.0/refint/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.dgspec.json
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.g.props
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.g.targets
/Mytra.DataAccess/obj/project.assets.json
/Mytra.DataAccess/obj/project.nuget.cache
/.vs/Mytra/config/applicationhost.config
/.vs/Mytra/FileContentIndex/1a52f5ee-c190-4aee-b5db-83bf7514ef01.vsidx
/.vs/Mytra/FileContentIndex/59cafee1-aa9e-4cc2-8108-642f3501e3f0.vsidx
/.vs/Mytra/FileContentIndex/99ae8ed2-53ea-4127-9b1c-bf2c524079f9.vsidx
/Mytra.Api/bin/Debug/net6.0/appsettings.Development.json
/Mytra.Api/bin/Debug/net6.0/appsettings.json
/Mytra.Api/bin/Debug/net6.0/AutoMapper.dll
/Mytra.Api/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Mytra.Api/bin/Debug/net6.0/Azure.Core.dll
/Mytra.Api/bin/Debug/net6.0/Azure.Identity.dll
/Mytra.Api/bin/Debug/net6.0/FluentValidation.dll
/Mytra.Api/bin/Debug/net6.0/Humanizer.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
/Mytra.Api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Mytra.Api/bin/Debug/net6.0/Mono.TextTemplating.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.Api.deps.json
/Mytra.Api/bin/Debug/net6.0/Mytra.Api.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.Api.exe
/Mytra.Api/bin/Debug/net6.0/Mytra.Api.pdb
/Mytra.Api/bin/Debug/net6.0/Mytra.Api.runtimeconfig.json
/Mytra.Api/bin/Debug/net6.0/Mytra.Business.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.Business.pdb
/Mytra.Api/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Api/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.Api/bin/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.Api/bin/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.Api/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Mytra.Api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Mytra.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Mytra.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Mytra.Api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Mytra.Api/bin/Debug/net6.0/System.CodeDom.dll
/Mytra.Api/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Mytra.Api/bin/Debug/net6.0/System.Drawing.Common.dll
/Mytra.Api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Mytra.Api/bin/Debug/net6.0/System.Memory.Data.dll
/Mytra.Api/bin/Debug/net6.0/System.Runtime.Caching.dll
/Mytra.Api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Mytra.Api/bin/Debug/net6.0/System.Security.Permissions.dll
/Mytra.Api/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/Mytra.Api/bin/Debug/net6.0/System.Text.Json.dll
/Mytra.Api/bin/Debug/net6.0/System.Windows.Extensions.dll
/Mytra.Management/bin/Debug/net6.0/appsettings.Development.json
/Mytra.Management/bin/Debug/net6.0/appsettings.json
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.deps.json
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.dll
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.exe
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.pdb
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.runtimeconfig.json
/Mytra.Management/bin/Debug/net6.0/Mytra.Management.staticwebassets.runtime.json
/Mytra.Platform/bin/Debug/net6.0/appsettings.Development.json
/Mytra.Platform/bin/Debug/net6.0/appsettings.json
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.deps.json
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.dll
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.exe
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.pdb
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.runtimeconfig.json
/Mytra.Platform/bin/Debug/net6.0/Mytra.Platform.staticwebassets.runtime.json
/Mytra.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Api/obj/Debug/net6.0/apphost.exe
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.AssemblyInfo.cs
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.AssemblyInfoInputs.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.assets.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.csproj.AssemblyReference.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.csproj.CopyComplete
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.csproj.CoreCompileInputs.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.csproj.FileListAbsolute.txt
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.dll
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.genruntimeconfig.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.GlobalUsings.g.cs
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.MvcApplicationPartsAssemblyInfo.cache
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.MvcApplicationPartsAssemblyInfo.cs
/Mytra.Api/obj/Debug/net6.0/Mytra.Api.pdb
/Mytra.Api/obj/Debug/net6.0/ref/Mytra.Api.dll
/Mytra.Api/obj/Debug/net6.0/refint/Mytra.Api.dll
/Mytra.Api/obj/Debug/net6.0/staticwebassets.build.json
/Mytra.Api/obj/Debug/net6.0/staticwebassets/msbuild.build.Mytra.Api.props
/Mytra.Api/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Mytra.Api.props
/Mytra.Api/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Mytra.Api.props
/Mytra.Api/obj/Mytra.Api.csproj.nuget.dgspec.json
/Mytra.Api/obj/Mytra.Api.csproj.nuget.g.props
/Mytra.Api/obj/Mytra.Api.csproj.nuget.g.targets
/Mytra.Api/obj/project.assets.json
/Mytra.Api/obj/project.nuget.cache
/Mytra.Management/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Management/obj/Debug/net6.0/apphost.exe
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.AssemblyInfo.cs
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.AssemblyInfoInputs.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.assets.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.csproj.AssemblyReference.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.csproj.CoreCompileInputs.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.csproj.FileListAbsolute.txt
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.dll
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.genruntimeconfig.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.GlobalUsings.g.cs
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.MvcApplicationPartsAssemblyInfo.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.pdb
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.RazorAssemblyInfo.cache
/Mytra.Management/obj/Debug/net6.0/Mytra.Management.RazorAssemblyInfo.cs
/Mytra.Management/obj/Debug/net6.0/ref/Mytra.Management.dll
/Mytra.Management/obj/Debug/net6.0/refint/Mytra.Management.dll
/Mytra.Management/obj/Debug/net6.0/scopedcss/bundle/Mytra.Management.styles.css
/Mytra.Management/obj/Debug/net6.0/scopedcss/projectbundle/Mytra.Management.bundle.scp.css
/Mytra.Management/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Mytra.Management/obj/Debug/net6.0/staticwebassets.build.json
/Mytra.Management/obj/Debug/net6.0/staticwebassets.development.json
/Mytra.Management/obj/Debug/net6.0/staticwebassets.pack.json
/Mytra.Management/obj/Debug/net6.0/staticwebassets/msbuild.build.Mytra.Management.props
/Mytra.Management/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Mytra.Management.props
/Mytra.Management/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Mytra.Management.props
/Mytra.Management/obj/Debug/net6.0/staticwebassets/msbuild.Mytra.Management.Microsoft.AspNetCore.StaticWebAssets.props
/Mytra.Management/obj/Mytra.Management.csproj.nuget.dgspec.json
/Mytra.Management/obj/Mytra.Management.csproj.nuget.g.props
/Mytra.Management/obj/Mytra.Management.csproj.nuget.g.targets
/Mytra.Management/obj/project.assets.json
/Mytra.Management/obj/project.nuget.cache
/Mytra.Platform/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Platform/obj/Debug/net6.0/apphost.exe
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.AssemblyInfo.cs
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.AssemblyInfoInputs.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.assets.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.csproj.AssemblyReference.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.csproj.CoreCompileInputs.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.csproj.FileListAbsolute.txt
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.dll
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.genruntimeconfig.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.GlobalUsings.g.cs
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.MvcApplicationPartsAssemblyInfo.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.pdb
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.RazorAssemblyInfo.cache
/Mytra.Platform/obj/Debug/net6.0/Mytra.Platform.RazorAssemblyInfo.cs
/Mytra.Platform/obj/Debug/net6.0/ref/Mytra.Platform.dll
/Mytra.Platform/obj/Debug/net6.0/refint/Mytra.Platform.dll
/Mytra.Platform/obj/Debug/net6.0/scopedcss/bundle/Mytra.Platform.styles.css
/Mytra.Platform/obj/Debug/net6.0/scopedcss/projectbundle/Mytra.Platform.bundle.scp.css
/Mytra.Platform/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Mytra.Platform/obj/Debug/net6.0/staticwebassets.build.json
/Mytra.Platform/obj/Debug/net6.0/staticwebassets.development.json
/Mytra.Platform/obj/Debug/net6.0/staticwebassets.pack.json
/Mytra.Platform/obj/Debug/net6.0/staticwebassets/msbuild.build.Mytra.Platform.props
/Mytra.Platform/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Mytra.Platform.props
/Mytra.Platform/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Mytra.Platform.props
/Mytra.Platform/obj/Debug/net6.0/staticwebassets/msbuild.Mytra.Platform.Microsoft.AspNetCore.StaticWebAssets.props
/Mytra.Platform/obj/Mytra.Platform.csproj.nuget.dgspec.json
/Mytra.Platform/obj/Mytra.Platform.csproj.nuget.g.props
/Mytra.Platform/obj/Mytra.Platform.csproj.nuget.g.targets
/Mytra.Platform/obj/project.assets.json
/Mytra.Platform/obj/project.nuget.cache
/.vs/Mytra/FileContentIndex/8a94ee9d-fafb-48af-8745-2e3924226f5e.vsidx
/.vs/Mytra/v17/.futdcache.v2
/.vs/Mytra/FileContentIndex/775955f1-7685-44e5-a1f3-09e11dcf2303.vsidx
/.vs/Mytra/FileContentIndex/ba05c554-a9a7-48e6-a819-aaceac1813cf.vsidx
/.vs/Mytra/FileContentIndex/6e5aeeff-9fd9-48c1-807c-c271dde616f0.vsidx
/.vs/Mytra/FileContentIndex/affdfd6c-f915-4047-a6a8-ae9393a281b3.vsidx
