################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mytra.Core/bin/Debug/net9.0
/Mytra.Core/obj
