/.vs/Mytra/v17/.suo
/.vs/Mytra/DesignTimeBuild/.dtbcache.v2
/.vs/Mytra/FileContentIndex/24028a85-79f9-483e-893d-d1d644342cf0.vsidx
/.vs/Mytra/FileContentIndex/a2830d06-2218-4e46-a526-5fdb94375d3e.vsidx
/.vs/Mytra/FileContentIndex/a4edc9f3-7d54-43db-bb12-923f862514e2.vsidx
/.vs/Mytra/FileContentIndex/d1c60212-57e8-4ed0-8b79-21edc03759d3.vsidx
/.vs/Mytra/FileContentIndex/read.lock
/.vs/ProjectEvaluation/mytra.metadata.v5.2
/.vs/ProjectEvaluation/mytra.projects.v5.2
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.deps.json
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.dll
/Mytra.Cache/bin/Debug/net6.0/Mytra.Cache.pdb
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.deps.json
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Common/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Core/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Core/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.deps.json
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.Core/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.deps.json
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.dll
/Mytra.Logging/bin/Debug/net6.0/Mytra.Logging.pdb
/Mytra.Cache/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.AssemblyInfo.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.AssemblyInfoInputs.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.assets.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.AssemblyReference.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.CoreCompileInputs.cache
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.csproj.FileListAbsolute.txt
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.dll
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.GlobalUsings.g.cs
/Mytra.Cache/obj/Debug/net6.0/Mytra.Cache.pdb
/Mytra.Cache/obj/Debug/net6.0/ref/Mytra.Cache.dll
/Mytra.Cache/obj/Debug/net6.0/refint/Mytra.Cache.dll
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.dgspec.json
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.g.props
/Mytra.Cache/obj/Mytra.Cache.csproj.nuget.g.targets
/Mytra.Cache/obj/project.assets.json
/Mytra.Cache/obj/project.nuget.cache
/Mytra.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.AssemblyInfo.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.AssemblyInfoInputs.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.assets.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.AssemblyReference.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.CoreCompileInputs.cache
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.csproj.FileListAbsolute.txt
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.dll
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.GlobalUsings.g.cs
/Mytra.Common/obj/Debug/net6.0/Mytra.Common.pdb
/Mytra.Common/obj/Debug/net6.0/ref/Mytra.Common.dll
/Mytra.Common/obj/Debug/net6.0/refint/Mytra.Common.dll
/Mytra.Common/obj/Mytra.Common.csproj.nuget.dgspec.json
/Mytra.Common/obj/Mytra.Common.csproj.nuget.g.props
/Mytra.Common/obj/Mytra.Common.csproj.nuget.g.targets
/Mytra.Common/obj/project.assets.json
/Mytra.Common/obj/project.nuget.cache
/Mytra.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.AssemblyInfo.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.AssemblyInfoInputs.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.assets.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.AssemblyReference.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.CopyComplete
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.CoreCompileInputs.cache
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.csproj.FileListAbsolute.txt
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.dll
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.GlobalUsings.g.cs
/Mytra.Core/obj/Debug/net6.0/Mytra.Core.pdb
/Mytra.Core/obj/Debug/net6.0/ref/Mytra.Core.dll
/Mytra.Core/obj/Debug/net6.0/refint/Mytra.Core.dll
/Mytra.Core/obj/Mytra.Core.csproj.nuget.dgspec.json
/Mytra.Core/obj/Mytra.Core.csproj.nuget.g.props
/Mytra.Core/obj/Mytra.Core.csproj.nuget.g.targets
/Mytra.Core/obj/project.assets.json
/Mytra.Core/obj/project.nuget.cache
/Mytra.Logging/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.AssemblyInfo.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.AssemblyInfoInputs.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.assets.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.AssemblyReference.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.CoreCompileInputs.cache
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.csproj.FileListAbsolute.txt
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.dll
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.GlobalUsings.g.cs
/Mytra.Logging/obj/Debug/net6.0/Mytra.Logging.pdb
/Mytra.Logging/obj/Debug/net6.0/ref/Mytra.Logging.dll
/Mytra.Logging/obj/Debug/net6.0/refint/Mytra.Logging.dll
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.dgspec.json
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.g.props
/Mytra.Logging/obj/Mytra.Logging.csproj.nuget.g.targets
/Mytra.Logging/obj/project.assets.json
/Mytra.Logging/obj/project.nuget.cache
/.vs/Mytra/FileContentIndex/6ba5b4a1-90cc-4ab6-8c88-dd4b88337c42.vsidx
/.vs/Mytra/FileContentIndex/d1302fda-88f6-42db-bffa-e5aac1b637ae.vsidx
/.vs/Mytra/FileContentIndex/f44790fe-51fa-49fb-84d6-7e37f5fef716.vsidx
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.deps.json
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Business.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.Business/bin/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.Business/bin/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Common.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Common.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Core.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.Core.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.deps.json
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/bin/Debug/net6.0/Mytra.DataAccess.runtimeconfig.json
/Mytra.Business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.AssemblyInfo.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.AssemblyInfoInputs.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.assets.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.AssemblyReference.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.CopyComplete
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.CoreCompileInputs.cache
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.csproj.FileListAbsolute.txt
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.dll
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.GlobalUsings.g.cs
/Mytra.Business/obj/Debug/net6.0/Mytra.Business.pdb
/Mytra.Business/obj/Debug/net6.0/ref/Mytra.Business.dll
/Mytra.Business/obj/Debug/net6.0/refint/Mytra.Business.dll
/Mytra.Business/obj/Mytra.Business.csproj.nuget.dgspec.json
/Mytra.Business/obj/Mytra.Business.csproj.nuget.g.props
/Mytra.Business/obj/Mytra.Business.csproj.nuget.g.targets
/Mytra.Business/obj/project.assets.json
/Mytra.Business/obj/project.nuget.cache
/Mytra.DataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.AssemblyInfo.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.AssemblyInfoInputs.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.assets.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.AssemblyReference.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.CopyComplete
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.CoreCompileInputs.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.csproj.FileListAbsolute.txt
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.genruntimeconfig.cache
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.GlobalUsings.g.cs
/Mytra.DataAccess/obj/Debug/net6.0/Mytra.DataAccess.pdb
/Mytra.DataAccess/obj/Debug/net6.0/ref/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Debug/net6.0/refint/Mytra.DataAccess.dll
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.dgspec.json
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.g.props
/Mytra.DataAccess/obj/Mytra.DataAccess.csproj.nuget.g.targets
/Mytra.DataAccess/obj/project.assets.json
/Mytra.DataAccess/obj/project.nuget.cache
