<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mytra.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div> *@
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Candidate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidateauthentication">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateAuthentication
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatecertificate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateCertificate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatecontact">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateContact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatedetail">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateDetail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidateeducation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateEducation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidateexperience">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateExperience
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatelanguage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateLanguage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatephoto">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidatePhoto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatereferance">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateReferance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidatesettings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candidateskills">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CandidateSkills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="college">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> College
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="institution">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Institution
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobposting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JobPosting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobpostingapply">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JobPostingApply
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobpostingdetail">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JobPostingDetail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobpostingvisit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JobPostingVisit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="language">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Language
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manager">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managerauthentication">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ManagerAuthentication
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managerdetail">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ManagerDetail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managersettings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ManagerSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userauthentication">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> UserAuthentication
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userdetail">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> UserDetail
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usersettings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> UserSettings
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}