@page "/candidateexperienceinfo"
@inject HttpClient Http

<PageTitle>CandidateExperience</PageTitle>
<h3>CandidateExperience</h3>

@code
{
    private ServiceResponse<CandidateExperienceResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateExperienceResponse>>("https://localhost:7046/api/candidate");
    }
}