@page "/candidatecreate"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>CandidateCreate</h3>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="Model.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="Model.Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</EditForm>

@code
{
    private ServiceResponse<CandidateResponse>? Response { get; set; }
    private Utilize.CandidateInsert Model { get; set; } = new Utilize.CandidateInsert();

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PostAsJsonAsync("https://localhost:7046/api/candidate", Model);
        if (Result.IsSuccessStatusCode)
        {
            Response = await Result.Content.ReadFromJsonAsync<ServiceResponse<CandidateResponse>>();
            if (Response != null && Response.Success) NavManager.NavigateTo("/candidate");
        }
    }
}