@page "/candidatedetailinfo/{id:guid}"
@inject HttpClient Http

<PageTitle>Candidate Detail - @Id</PageTitle>
<h3>Candidate Detail - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateDetailResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateDetailResponse>>
        ($"https://localhost:7046/api/candidatedetailsingle?id={Id}");
    }
}