@page "/candidatecertificateinfo"
@inject HttpClient Http

<PageTitle>CandidateCertificate</PageTitle>
<h3>CandidateCertificate</h3>

@code
{
    private ServiceResponse<CandidateCertificateResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateCertificateResponse>>("https://localhost:7046/api/candidate");
    }
}