@page "/candidatecontactcreate"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>CandidateContactCreate</h3>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name">Adı:</label>
        <InputText id="name" @bind-Value="Model.Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</EditForm>

@code
{
    private ServiceResponse<CandidateContactResponse>? Response { get; set; }
    private Utilize.CandidateContactInsert Model { get; set; } = new Utilize.CandidateContactInsert();

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PostAsJsonAsync("https://localhost:7046/api/candidatecontact", Model);
        if (Result.IsSuccessStatusCode)
        {
            Response = await Result.Content.ReadFromJsonAsync<ServiceResponse<CandidateContactResponse>>();
            if (Response != null && Response.Success) NavManager.NavigateTo("/candidatecontact");
        }
    }
}