@page "/candidateauthenticationinfo"
@inject HttpClient Http

<PageTitle>CandidateAuthentication</PageTitle>
<h3>CandidateAuthentication</h3>

@code
{
    private ServiceResponse<CandidateAuthenticationResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateAuthenticationResponse>>("https://localhost:7046/api/candidate");
    }
}