@page "/candidateskillsinfo"
@inject HttpClient Http

<PageTitle>CandidateSkills</PageTitle>
<h3>CandidateSkills</h3>

@code
{
    private ServiceResponse<CandidateSkillsResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateSkillsResponse>>("https://localhost:7046/api/candidate");
    }
}