@page "/candidatecontactinfo"
@inject HttpClient Http

<PageTitle>CandidateContact</PageTitle>
<h3>CandidateContact</h3>

@code
{
    private ServiceResponse<CandidateContactResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateContactResponse>>("https://localhost:7046/api/candidate");
    }
}