@page "/candidatecertificateupdate/{id:guid}"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>CandidateCertificate - @Id</PageTitle>
<h3>CandidateCertificate - @Id</h3>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name">İsim:</label>
        <InputText id="name" @bind-Value="Model.Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>

</EditForm>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateCertificateResponse>? Response { get; set; }
    private Utilize.CandidateCertificateUpdate Model { get; set; } = new Utilize.CandidateCertificateUpdate();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateCertificateResponse>>
        ($"https://localhost:7046/api/candidatecertificatesingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Utilize.CandidateCertificateUpdate
            {
                Id = Response.Data.Id,
                Name = Response.Data.Name
            };
        }
    }

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PutAsJsonAsync("https://localhost:7046/api/candidatecertificate", Model);
        NavManager.NavigateTo("/candidatecertificate");
    }
}