@page "/candidateauthenticationcreate"
@inject HttpClient Http

<h3>CandidateAuthenticationCreate</h3>

@* <input placeholder="İsim" @bind="newPerson.Name" />
<input placeholder="Yaş" type="number" @bind="newPerson.Age" /> *@
<button @onclick="SavePerson">Kaydet</button>
<p>@Message</p>

@code
{
    String Message = String.Empty;
    ServiceResponse<CandidateAuthenticationResponse>? Response { get; set; }
    CandidateAuthenticationInsert CandidateAuthentication = new CandidateAuthenticationInsert();

    private async Task SavePerson()
    {
        CandidateAuthentication.CandidateId = new Guid("76058814-F907-4432-89B7-552D68E3B97E");
        HttpResponseMessage httpResponse = await Http.PostAsJsonAsync("https://localhost:7046/api/candidateauthentication", CandidateAuthentication);

        if (httpResponse.IsSuccessStatusCode)
        {
            Response = await httpResponse.Content.ReadFromJsonAsync<ServiceResponse<CandidateAuthenticationResponse>>();
            
            if (Response != null && Response.Success) Message = "Kayıt başarıyla eklendi!";
            else Message = "Kayıt başarısız oldu!";
        }
        else Message = $"API hata döndü: {httpResponse.StatusCode}";
    }
}