@page "/candidatedetail"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>CandidateDetail</PageTitle>
<h3>CandidateDetail</h3>

@if (Response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REGISTER DATE</th>
                <th>UPDATE DATE</th>
                <th>IS ACTIVE</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CandidateDetail in Response.DataList)
            {
                <tr>
                    <td>@CandidateDetail.Id</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private ServiceResponse<CandidateDetailResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateDetailResponse>>("https://localhost:7046/api/candidatedetail");
    }
}