@page "/candidatereferanceinfo"
@inject HttpClient Http

<PageTitle>CandidateReferance</PageTitle>
<h3>CandidateReferance</h3>

@code
{
    private ServiceResponse<CandidateReferanceResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateReferanceResponse>>("https://localhost:7046/api/candidate");
    }
}