@page "/candidatephotoinfo"
@inject HttpClient Http

<PageTitle>CandidatePhoto</PageTitle>
<h3>CandidatePhoto</h3>

@code
{
    private ServiceResponse<CandidatePhotoResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidatePhotoResponse>>("https://localhost:7046/api/candidate");
    }
}