@page "/candidateinfo/{id:guid}"
@inject HttpClient Http

<PageTitle>Candidate - @Id</PageTitle>
<h3>Candidate - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateResponse>? Response { get; set; }
    private Utilize.CandidateSelectSingle Model { get; set; } = new Utilize.CandidateSelectSingle();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateResponse>>
        ($"https://localhost:7046/api/candidatesingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Utilize.CandidateSelectSingle
            {
                Id = Response.Data.Id
            };
        }
    }
}