@page "/candidatelanguageinfo"
@inject HttpClient Http

<PageTitle>CandidateLanguage</PageTitle>
<h3>CandidateLanguage</h3>

@code
{
    private ServiceResponse<CandidateLanguageResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateLanguageResponse>>("https://localhost:7046/api/candidate");
    }
}