@using Common

@page "/candidatephoto"
@inject HttpClient Http

<PageTitle>CandidatePhoto</PageTitle>
<h3>CandidatePhoto</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {
        ServiceResponse<CandidatePhotoResponse>? response =
     await Http.GetFromJsonAsync<ServiceResponse<CandidatePhotoResponse>>("https://localhost:7046/api/candidatephoto");



    }
}