@page "/candidatephotocreate"
@inject HttpClient Http

<h3>CandidatePhotoCreate</h3>
@* <input placeholder="İsim" @bind="newPerson.Name" />
<input placeholder="Yaş" type="number" @bind="newPerson.Age" /> *@
<button @onclick="Save">Kaydet</button>
<p>@Message</p>

@code
{
    String Message = String.Empty;
    ServiceResponse<CandidatePhotoResponse>? Response { get; set; }
    CandidatePhotoInsert CandidatePhoto = new CandidatePhotoInsert();

    private async Task Save()
    {
        HttpResponseMessage httpResponse = await Http.PostAsJsonAsync("https://localhost:7046/api/candidatephoto", CandidatePhoto);

        if (httpResponse.IsSuccessStatusCode)
        {
            Response = await httpResponse.Content.ReadFromJsonAsync<ServiceResponse<CandidatePhotoResponse>>();

            if (Response != null && Response.Success) Message = "Kayıt başarıyla eklendi!";
            else Message = "Kayıt başarısız oldu!";
        }
        else Message = $"API hata döndü: {httpResponse.StatusCode}";
    }
}