@page "/candidatedetailinfo"
@inject HttpClient Http

<PageTitle>CandidateDetail</PageTitle>
<h3>CandidateDetail</h3>

@code
{
    private ServiceResponse<CandidateDetailResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateDetailResponse>>("https://localhost:7046/api/candidate");
    }
}