@page "/candidateauthenticationupdate/{id:guid}"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>CandidateAuthentication - @Id</PageTitle>
<h3>CandidateAuthentication - @Id</h3>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="refreshtoken">RefreshToken:</label>
        <InputText id="refreshtoken" @bind-Value="Model.RefreshToken" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="expiredate">ExpireDate:</label>
        <InputDate id="expiredate" @bind-Value="Model.RefreshTokenExpireTime" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</EditForm>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateAuthenticationResponse>? Response { get; set; }
    private Utilize.CandidateAuthenticationUpdate Model { get; set; } = new Utilize.CandidateAuthenticationUpdate();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateAuthenticationResponse>>
        ($"https://localhost:7046/api/candidateauthenticationsingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Utilize.CandidateAuthenticationUpdate
            {
                Id = Response.Data.Id,
                RefreshToken = Response.Data.RefreshToken,
                RefreshTokenExpireTime = Response.Data.RefreshTokenExpireTime
            };
        }
    }

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PutAsJsonAsync("https://localhost:7046/api/candidateauthentication", Model);
        NavManager.NavigateTo("/candidateauthentication");
    }
}