@page "/candidateauthenticationdelete/{id:guid}"
@inject HttpClient Http

<PageTitle>CandidateAuthentication - @Id</PageTitle>
<h3>CandidateAuthentication - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateAuthenticationResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.DeleteFromJsonAsync<ServiceResponse<CandidateAuthenticationResponse>>
        ($"https://localhost:7046/api/candidateauthentication/{Id}");
    }
}