<h3>CandidateSkillsInfo</h3>

@code
{
    private ServiceResponse<JobPostingResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingResponse>>("https://localhost:7046/api/candidate");
    }
}