@page "/candidatecontactupdate/{id:guid}"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>CandidateContact - @Id</PageTitle>
<h3>CandidateContact - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateContactResponse>? Response { get; set; }
    private Common.CandidateContactUpdate Model { get; set; } = new Common.CandidateContactUpdate();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateContactResponse>>
        ($"https://localhost:7046/api/candidatecontactsingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Common.CandidateContactUpdate
            {
                Id = Response.Data.Id,
                Name = Response.Data.Name
            };
        }
    }

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PutAsJsonAsync("https://localhost:7046/api/candidatecontac", Model);
        NavManager.NavigateTo("/candidatecontac");
    }
}