@page "/candidatecertificatecreate"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>CandidateCertificateCreate</h3>

@if (Model == null)
{
    <p>Yükleniyor...</p>
}
else
{
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @*  <div class="mb-3">
            <label for="refreshtoken">RefreshToken:</label>
            <InputText id="refreshtoken" @bind-Value="Model.RefreshToken" class="form-control" />
        </div> *@

        @*  <div class="mb-3">
            <label for="expiredate">ExpireDate:</label>
            <InputDate id="expiredate" @bind-Value="Model.RefreshTokenExpireTime" class="form-control" />
        </div> *@

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </EditForm>
}

@* <input placeholder="İsim" @bind="newPerson.Name" />
<input placeholder="Yaş" type="number" @bind="newPerson.Age" /> *@
@* <button @onclick="Save">Kaydet</button>
<p>@Message</p> *@

@code
{
    private ServiceResponse<CandidateCertificateResponse>? Response { get; set; }
    private Common.CandidateCertificateInsert Model { get; set; } = new Common.CandidateCertificateInsert();

    // private async Task Save()
    // {
    //     HttpResponseMessage httpResponse = await Http.PostAsJsonAsync("https://localhost:7046/api/candidatecertificate", CandidateCertificate);

    //     if (httpResponse.IsSuccessStatusCode)
    //     {
    //         Response = await httpResponse.Content.ReadFromJsonAsync<ServiceResponse<CandidateCertificateResponse>>();

    //         if (Response != null && Response.Success) Message = "Kayıt başarıyla eklendi!";
    //         else Message = "Kayıt başarısız oldu!";
    //     }
    //     else Message = $"API hata döndü: {httpResponse.StatusCode}";
    // }

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PostAsJsonAsync("https://localhost:7046/api/candidatecertificate", Model);
        if (Result.IsSuccessStatusCode)
        {
            Response = await Result.Content.ReadFromJsonAsync<ServiceResponse<CandidateCertificateResponse>>();
            if (Response != null && Response.Success) NavManager.NavigateTo("/candidatecertificate");
        }
    }
}