@page "/candidateeducationinfo/{id:guid}"
@inject HttpClient Http

<PageTitle>CandidateEducation - @Id</PageTitle>
<h3>CandidateEducation - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateEducationResponse>? Response { get; set; }
    private Utilize.CandidateEducationSelectSingle Model { get; set; } = new Utilize.CandidateEducationSelectSingle();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateEducationResponse>>
        ($"https://localhost:7046/api/candidateeducationsingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Utilize.CandidateEducationSelectSingle
            {
                Id = Response.Data.Id
            };
        }
    }
}