@page "/candidateskillsdelete/{id:guid}"
@inject HttpClient Http

<PageTitle>CandidateSkills - @Id</PageTitle>
<h3>CandidateSkills - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<CandidateSkillsResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.DeleteFromJsonAsync<ServiceResponse<CandidateSkillsResponse>>
        ($"https://localhost:7046/api/candidateskills/{Id}");
    }
}