@page "/candidateeducationinfo"
@inject HttpClient Http

<PageTitle>CandidateEducation</PageTitle>
<h3>CandidateEducation</h3>

@code
{
    private ServiceResponse<CandidateEducationResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<CandidateEducationResponse>>("https://localhost:7046/api/candidate");
    }
}