@page "/candidate"
@inject HttpClient Http

<PageTitle>Candidate</PageTitle>
<h3>Candidate</h3>


<h3>CandidateAuthenticationInfo</h3>

@code
{
    private ServiceResponse<JobPostingResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingResponse>>("https://localhost:7046/api/candidate");
    }
}