@page "/institutiondelete/{id:guid}"
@inject HttpClient Http

<PageTitle>Institution - @Id</PageTitle>
<h3>Institution - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<InstitutionResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.DeleteFromJsonAsync<ServiceResponse<InstitutionResponse>>
        ($"https://localhost:7046/api/institution/{Id}");
    }
}