@page "/institutioninfo"
@inject HttpClient Http

<PageTitle>Institution</PageTitle>
<h3>Institution</h3>

@code
{
    private ServiceResponse<InstitutionResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<InstitutionResponse>>("https://localhost:7046/api/candidate");
    }
}