@using Common

@page "/institution"
@inject HttpClient Http

<PageTitle>Institution</PageTitle>
<h3>Institution</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {
        ServiceResponse<InstitutionResponse>? response =
     await Http.GetFromJsonAsync<ServiceResponse<InstitutionResponse>>("https://localhost:7046/api/institution");



    }
}