@page "/jobpostingvisitcreate"
@inject HttpClient Http
@inject NavigationManager NavManager

<h3>JobPostingVisitCreate</h3>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name">Adı:</label>
        <InputText id="name" @bind-Value="Model.Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</EditForm>

@code
{
    private ServiceResponse<JobPostingVisitResponse>? Response { get; set; }
    private Utilize.JobPostingVisitInsert Model { get; set; } = new Utilize.JobPostingVisitInsert();

    private async Task HandleValidSubmit()
    {
        HttpResponseMessage Result = await Http.PostAsJsonAsync("https://localhost:7046/api/jobpostingvisit", Model);
        if (Result.IsSuccessStatusCode)
        {
            Response = await Result.Content.ReadFromJsonAsync<ServiceResponse<JobPostingVisitResponse>>();
            if (Response != null && Response.Success) NavManager.NavigateTo("/jobpostingvisit");
        }
    }
}