@page "/jobpostingvisitupdate/{id:guid}"
@inject HttpClient Http

<PageTitle>JobPostingVisit - @Id</PageTitle>
<h3>JobPostingVisit - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<JobPostingVisitResponse>? Response;

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingVisitResponse>>("https://localhost:7046/api/candidate");
    }
}