@page "/jobpostingupdate/{id:guid}"
@inject HttpClient Http

<PageTitle>JobPosting - @Id</PageTitle>
<h3>JobPosting - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<JobPostingResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingResponse>>
        ($"https://localhost:7046/api/jobpostingsingle?id={Id}");
    }
}