@page "/jobpostingdetailinfo"
@inject HttpClient Http

<PageTitle>JobPostingDetail</PageTitle>
<h3>JobPostingDetail</h3>

@code
{
    private ServiceResponse<JobPostingDetailResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<JobPostingDetailResponse>>("https://localhost:7046/api/candidate");
    }
}