@using Common

@page "/language"
@inject HttpClient Http

<PageTitle>Language</PageTitle>
<h3>Language</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {
        ServiceResponse<LanguageResponse>? response =
     await Http.GetFromJsonAsync<ServiceResponse<LanguageResponse>>("https://localhost:7046/api/language");



    }
}