@page "/managersettingsinfo"
@inject HttpClient Http

<PageTitle>ManagerSettings</PageTitle>
<h3>ManagerSettings</h3>

@code
{
    private ServiceResponse<ManagerSettingsResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<ManagerSettingsResponse>>("https://localhost:7046/api/candidate");
    }
}