@page "/managersettingsdelete/{id:guid}"
@inject HttpClient Http

<PageTitle>ManagerSettings - @Id</PageTitle>
<h3>ManagerSettings - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<ManagerSettingsResponse>? Response { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.DeleteFromJsonAsync<ServiceResponse<ManagerSettingsResponse>>
        ($"https://localhost:7046/api/managersettings/{Id}");
    }
}