@page "/skillsinfo"
@inject HttpClient Http

<PageTitle>Skills</PageTitle>
<h3>Skills</h3>

@code
{
    private ServiceResponse<SkillsResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<SkillsResponse>>("https://localhost:7046/api/candidate");
    }
}