@page "/userdetailinfo"
@inject HttpClient Http

<PageTitle>UserDetail</PageTitle>
<h3>UserDetail</h3>

@code
{
    private ServiceResponse<UserDetailResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<UserDetailResponse>>("https://localhost:7046/api/candidate");
    }
}