@page "/userinfo"
@inject HttpClient Http

<PageTitle>User</PageTitle>
<h3>User</h3>

@code
{
    private ServiceResponse<UserResponse>? Response;
    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<UserResponse>>("https://localhost:7046/api/candidate");
    }
}