@page "/usersettingsinfo/{id:guid}"
@inject HttpClient Http

<PageTitle>UserSettings - @Id</PageTitle>
<h3>UserSettings - @Id</h3>

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private ServiceResponse<UserSettingsResponse>? Response { get; set; }
    private Utilize.UserSettingsSelectSingle Model { get; set; } = new Utilize.UserSettingsSelectSingle();

    protected override async Task OnInitializedAsync()
    {
        Response = await Http.GetFromJsonAsync<ServiceResponse<UserSettingsResponse>>
        ($"https://localhost:7046/api/usersettingssingle?id={Id}");

        if (Response != null && Response.Data != null)
        {
            Model = new Utilize.UserSettingsSelectSingle
            {
                Id = Response.Data.Id
            };
        }
    }
}